# Object files
*.o
*.ko
*.obj
*.elf
*.__i
*.crf
*.d

# keil

*.map
*.lnp
*.plg
*.tra
*.bak
*.uvopt
*.iex
*.axf
*.htm

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.mk
Projects/GCC/stm32f4_aoa/Debug

